@font-face {
  font-family: 'iconfont';  /* Project id 4192816 */
  src: url('//at.alicdn.com/t/c/font_4192816_z4fqn275y1.woff2?t=1693164156484') format('woff2'),
       url('//at.alicdn.com/t/c/font_4192816_z4fqn275y1.woff?t=1693164156484') format('woff'),
       url('//at.alicdn.com/t/c/font_4192816_z4fqn275y1.ttf?t=1693164156484') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }